## MLR for filling gaps in GWL data

Fill the gaps in groundwater levels with a multiple linear regression considering the closest wells until a defined distance

In [16]:
from functions import *

In [5]:
#Load groundwater data as a dataframe with the well ids and the time series information
rpath="C:/Users/GomezOspina.M/MGO/" #Root path
gwdata=pd.read_pickle(rpath+"/data/Pickle/gwdata.pkl") 

#load shapefile of stations
gws=gpd.read_file(rpath+"/data/GIS/SHP/GWL_CDID.shp")

In [7]:
#A pre-filter might be important to not fill information 
#with a gap greater than a year or even 6 months
gwt=gwdata.loc[gwdata["max_gap"]<190]

In [8]:
gwt

,wellid,data,count,gaps,max_gap,max_gap_months
0,9610009,MEST_ID JAHR MONAT DATUM HJAHR H...,8,761 61 days 763 61 days 766 61 days 776 ...,62.0,2.066667
1,9610709,MEST_ID JAHR MONAT DATUM HJAHR H...,9,332 92 days 350 59 days 763 61 days 776 ...,92.0,3.066667
2,9610749,MEST_ID JAHR MONAT DATUM HJAHR H...,3,763 61 days 776 62 days 799 61 days Name...,62.0,2.066667
5,9610875,MEST_ID JAHR MONAT DATUM HJAHR H...,5,758 59 days 763 61 days 788 62 days 790 ...,62.0,2.066667
6,9610879,MEST_ID JAHR MONAT DATUM HJAHR H...,8,612 92 days 623 91 days 760 61 days 763 ...,92.0,3.066667
...,...,...,...,...,...,...
720,400080231,MEST_ID JAHR MONAT DATUM HJAHR ...,7,353 120 days 751 61 days 764 62 days 8...,120.0,4.000000
732,9700203,MEST_ID JAHR MONAT DATUM HJAHR H...,2,"349 62 days 814 61 days Name: DATUM, dtype...",62.0,2.066667
733,9700208,MEST_ID JAHR MONAT DATUM HJAHR H...,4,793 62 days 811 61 days 814 61 days 816 ...,62.0,2.066667
740,500000530,MEST_ID JAHR MONAT DATUM HJAHR ...,4,350 90 days 756 61 days 814 92 days 816 ...,92.0,3.066667
744,600041281,MEST_ID JAHR MONAT DATUM HJAHR ...,6,359 61 days 593 61 days 598 92 days 7...,184.0,6.133333

### Fill data

In [15]:
dwfill=fillGWgaps(gwdata,gws, maxd=2*10e3,th=98, maxn=8 )
gwfill=dwfill.MLRmodel(twell=9610009)

TypeError: __init__() got an unexpected keyword argument 'maxd'